# Packaging things.
*.egg-info/
build/
dist/

# Cache files.
__pycache__/
.pytest_cache/

# FSTs I happen to have lying around.
/*.foma
/*.fomabin

# Mypy
.mypy_cache

# Coverage report
.coverage

# Local environment variables
.env

# Shared objects
*.so
*.dylib

# Profiling (speed)
/profiling/

# IDEs
.idea/
.*.sw[po]
*~
