[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pycodestyle = "*"
pytest = "*"
pytest-datadir = "*"
fst-lookup = {editable = true,path = "."}
setuptools = "*"
wheel = "*"
twine = "*"

[packages]

[requires]
python_version = "3.5"
